<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>webdriver.Topic_16_Wait_6_Mixing</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_05_Element_Not_Found_Explicit_Param_WebElement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_03_Element_Not_Found_Implicit_Explicit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_Element_Not_Found_Explicit_Param_By</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_02_Element_Not_Found_Implicit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
