<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:17:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Topic_16_Wait_6_Mixing.TC_02_Element_Not_Found_Implicit()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">TC_02_Element_Not_Found_Implicit</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:17:42</td>   <td>11037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Topic_16_Wait_6_Mixing.TC_03_Element_Not_Found_Implicit_Explicit()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">TC_03_Element_Not_Found_Implicit_Explicit</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:18:03</td>   <td>31891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Topic_16_Wait_6_Mixing.TC_04_Element_Not_Found_Explicit_Param_By()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">TC_04_Element_Not_Found_Explicit_Param_By</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:18:03</td>   <td>31892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Topic_16_Wait_6_Mixing.TC_05_Element_Not_Found_Explicit_Param_WebElement()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">TC_05_Element_Not_Found_Explicit_Param_WebElement</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:18:03</td>   <td>31893</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Topic_16_Wait_6_Mixing.afterClass()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>21/07/28 21:17:28</td>   <td>-3086</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Topic_16_Wait_6_Mixing.beforeClass()[pri:0, instance:webdriver.Topic_16_Wait_6_Mixing@6cc4c815]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
</table>
